### 1. Importing libraries and data

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'G:\My Drive\Python Challenges\Alteryx Challenges in Python\351'

In [4]:
pickups = pd.read_csv(os.path.join('uber_nyc.csv'), index_col=False)

### 2. Data Validation

In [5]:
pickups

         pickup_date        borough  pickups  speed
0        1/1/15 1:00          Bronx      152    5.0
1        1/1/15 1:00       Brooklyn     1519    5.0
2        1/1/15 1:00      Manhattan     5258    5.0
3        1/1/15 1:00         Queens      405    5.0
4        1/1/15 1:00  Staten Island        6    5.0
...              ...            ...      ...    ...
21710  6/30/15 23:00          Bronx       67    7.0
21711  6/30/15 23:00       Brooklyn      990    7.0
21712  6/30/15 23:00      Manhattan     3828    7.0
21713  6/30/15 23:00         Queens      580    7.0
21714  6/30/15 23:00  Staten Island        0    7.0

[21715 rows x 4 columns]

In [7]:
pickups.dtypes

pickup_date     object
borough         object
pickups          int64
speed          float64
dtype: object

### 3. Deriving date columns

In [15]:
# Deriving date, month and year columns
pickups['pickup_date'] = pd.to_datetime(pickups['pickup_date']) # necessary conversion of Date field from object to datetime
pickups['month'] = pickups['pickup_date'].dt.month
pickups['day'] = pickups['pickup_date'].dt.day
pickups['year'] = pickups['pickup_date'].dt.year # built-in function that takes the year as an integer

In [16]:
pickups

              pickup_date        borough  pickups  speed  month  year  day
0     2015-01-01 01:00:00          Bronx      152    5.0      1  2015    1
1     2015-01-01 01:00:00       Brooklyn     1519    5.0      1  2015    1
2     2015-01-01 01:00:00      Manhattan     5258    5.0      1  2015    1
3     2015-01-01 01:00:00         Queens      405    5.0      1  2015    1
4     2015-01-01 01:00:00  Staten Island        6    5.0      1  2015    1
...                   ...            ...      ...    ...    ...   ...  ...
21710 2015-06-30 23:00:00          Bronx       67    7.0      6  2015   30
21711 2015-06-30 23:00:00       Brooklyn      990    7.0      6  2015   30
21712 2015-06-30 23:00:00      Manhattan     3828    7.0      6  2015   30
21713 2015-06-30 23:00:00         Queens      580    7.0      6  2015   30
21714 2015-06-30 23:00:00  Staten Island        0    7.0      6  2015   30

[21715 rows x 7 columns]

In [17]:
pickups.dtypes

pickup_date    datetime64[ns]
borough                object
pickups                 int64
speed                 float64
month                   int32
year                    int32
day                     int32
dtype: object

### 4. The Challenge

How many pickups does Uber make in New York City?
This is what we are going to investigate in this challenge.

The dataset provides information about uber pickups in New York for the first 6 months of January 2015. *(Lex here, what does this mean lol)*

It gives you, among other things, the date of the pickup, the borough, and the number of pickups by borough.

For this challenge, *determine the total number of pickups each day, by borough, for the month of January 2015.*

In [18]:
# Subset of Jan 2015 pickups only
jan_pickups = pickups.loc[(pickups['month'] == 1) & (pickups['year'] == 2015)]

In [20]:
# Yup, just Jan 2015
jan_pickups.value_counts(['month', 'year'])

month  year
1      2015    3715
Name: count, dtype: int64

In [22]:
# Grouping by borough and day, summing pickups
daily_boro_pickups = jan_pickups.groupby(['borough', 'day'], as_index=False).agg(total_pickups=('pickups', 'sum'))

In [23]:
daily_boro_pickups

           borough  day  total_pickups
0            Bronx    1           1075
1            Bronx    2            545
2            Bronx    3            719
3            Bronx    4            590
4            Bronx    5            487
..             ...  ...            ...
150  Staten Island   27             16
151  Staten Island   28             21
152  Staten Island   29             27
153  Staten Island   30             35
154  Staten Island   31             42

[155 rows x 3 columns]

In [25]:
daily_boro_pickups.to_csv(os.path.join('solution.csv'), index=False)