A bookstore wants to analyze book sales over a specified period to determine whether sales are increasing, decreasing, or remaining stable.

Your task is to investigate book sales for each 6-month period ending in March, April, and May of 2024. For example, when analyzing March, include the sales for March plus the preceding 5 months. The March 2024 analysis should include sales from October 1, 2023, to March 31, 2024, and similarly for April and May.

Calculate the total number of books sold for each analyzed period and identify the most popular book sold during that period.

For this task, you are provided with two datasets: one containing book sales data from 2021 to 2024, and the other containing the specific periods of time that require analysis.

### Importing libraries and data

In [2]:
import pandas as pd
import numpy as np
import os

path = r'G:\My Drive\Python Challenges\Alteryx Challenges in Python\427'

book_sales = pd.read_csv(os.path.join('Book Sales.csv'), index_col=False)
periods = pd.read_csv(os.path.join('Time Periods.csv'), index_col=False)

### Data Validation

In [3]:
book_sales.head()

         Date          BookTitle
0  2024-01-01  Lord of the Flies
1  2024-01-01               1984
2  2024-01-01  Lord of the Flies
3  2024-01-01               1984
4  2024-01-01   The Great Gatsby

In [4]:
book_sales.dtypes

Date         object
BookTitle    object
dtype: object

In [5]:
book_sales.value_counts()

Date        BookTitle
2024-02-05  The Great Gatsby          44
2024-05-23  To Kil A Mockingbird      38
2024-02-02  The Catcher in the Rye    37
2024-05-19  Crime and Punishment      37
2024-02-10  Lord of the Flies         37
                                      ..
2023-02-25  1984                       1
2022-12-04  The Corrections            1
            To Kil A Mockingbird       1
2022-12-05  Crime and Punishment       1
2022-08-03  Lord of the Flies          1
Name: count, Length: 4553, dtype: int64

In [6]:
periods.head()

    Start_YMD     End_YMD  MonthToReport
0  2023-12-01  2024-05-31              1
1  2023-11-01  2024-04-30              2
2  2023-10-01  2024-03-31              3

In [7]:
periods.dtypes

Start_YMD        object
End_YMD          object
MonthToReport     int64
dtype: object

### Solving the Challenge