The Alteryx Community hosts localized User Groups across the globe. Have you ever wondered how many people participate in these groups, or how many active groups exist?

Each User Group page displays the group name, the number of leaders, the number of members, the URL, and the region. The dataset below was created by web scraping User Group pages between June 2023 and March 2025. You can explore it here: Alteryx Community User Groups.

For this challenge, use the two datasets provided to complete the following tasks:

1. Calculate the total number of User Groups, the total number of members, and the percentage increase in membership between June 2023 and March 2025.
2. Identify the top five User Groups with the largest increase in members.

Notes:
• Task 2 applies only to User Groups that exist as of March 29, 2025.
• Some User Groups may have changed names during the data period. Use the Change history dataset to align names correctly.
• Round all calculation results to two decimal places.

In [6]:
# Importing libraries
import pandas as pd

In [ ]:
# Confirming the directory of this script is the same where the data is stored
ls

 Volume in drive C is OS
 Volume Serial Number is 4093-D9E7

 Directory of c:\Users\LexDevlin\Documents\GitHub\alteryx-challenges-in-python\487

08/26/2025  10:16 PM    <DIR>          .
08/26/2025  10:02 PM    <DIR>          ..
08/26/2025  10:16 PM                 0 487_solution.ipynb
08/26/2025  10:15 PM                 0 487_solution.py
08/26/2025  10:14 PM           235,195 Challenge+487_start_file.yxmd
08/26/2025  10:42 PM               945 change_history.csv
08/26/2025  10:42 PM            72,164 usergroup_history.csv
               5 File(s)        308,304 bytes
               2 Dir(s)  213,798,756,352 bytes free

In [10]:
ugh = pd.read_csv('usergroup_history.csv')
ch = pd.read_csv('change_history.csv')

In [11]:
ugh.head()

,URL_detail,UserGroupName,Region,Group Leaders,Members,Date
0,https://community.alteryx.com/t5/Atlanta-GA/gh...,"Atlanta, GA",Americas,4,396,2023-06-04
1,https://community.alteryx.com/t5/Austin-TX/gh-...,"Austin, TX",Americas,2,209,2023-06-04
2,https://community.alteryx.com/t5/Boston-MA-New...,"Boston, MA (New England)",Americas,3,307,2023-06-04
3,https://community.alteryx.com/t5/Charlotte-NC/...,"Charlotte, NC",Americas,5,230,2023-06-04
4,https://community.alteryx.com/t5/Columbus-OH/g...,"Columbus, OH",Americas,5,112,2023-06-04

In [12]:
ch.head()

,New,Old
0,https://community.alteryx.com/t5/DACH-Germany-...,https://community.alteryx.com/t5/DACH-Germany-...
1,https://community.alteryx.com/t5/DACH-Germany-...,https://community.alteryx.com/t5/DACH-Germany/...
2,https://community.alteryx.com/t5/DACH-Germany-...,https://community.alteryx.com/t5/Germany-Deuts...
3,https://community.alteryx.com/t5/Oklahoma-City...,https://community.alteryx.com/t5/Oklahoma-City...
4,https://community.alteryx.com/t5/Oklahoma-City...,https://community.alteryx.com/t5/Oklahoma/gh-p...