For this week's challenge, letâ€™s do a bit of data preparation using shoe inventory data!

The following dataset contains a list of shoes with an ID, colors, and sizes available.


For this challenge, you want to clean the inventory data and reorganize the list to have:
- A new ID number
- The size
- A comment stating how many colors are available, and
- Three columns for color

Keep in mind that the names of the colors are separated by the sign /.

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('data/shoes.csv')

In [4]:
df.head()

                     id       colors      sizes
0  AWpyySsJAGTnQPR7wNt4        Black          8
1  AWpyyyb3AGTnQPR7wN-u        Taupe     6 M US
2  AWpyzlajAGTnQPR7wOX8        Black          5
3  AWpyxomE0U_gzG0hkA1q  Black/Multi  9.5 BM US
4  AWpyxChWJbEilcB6RhWx        White         11